; Set a new registry for a scoped package
@starladder:registry=https://npm.sltv.pro
; add to your .bashrc or .zshrc
; `export NPM_SLTV_AUTH_TOKEN=your_token_from_sltv_pro`
//npm.sltv.pro/:_authToken=${NPM_SLTV_AUTH_TOKEN}
