@import "for_import_test.css";

@custom-media --viewport-test (max(1200));

body {
	background: #000000;
	color: #ffffff;
	font-size: 14px;
}

:global h1 {
	color: red;
	font-size: rem(20);

	& :global .blue {
		color: blue;
		background: #F0F0F0;
	}
}

h1 {
	color: red;

	&[class="blue"] {
		color: blue
	}
}

:global .green-icon {
	fill: green;
	@media (--viewport-test) {
		background: blue;
	}
}
