/* stylelint-disable */

html {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
button {
  position: relative;
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 0;
  border: none;
  transform: translate(0, 0);
  user-select: none;
  appearance: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
input {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
input[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input::-ms-clear {
  display: none;
}
iframe {
  border: 0;
  width: 100%;
}
textarea {
  outline: none;
  resize: vertical;
}
select {
  outline: none;
  background: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
